body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.circle {
  width: 100px;
  height: 100px;
  margin: 20pt;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  background-color: rgb(245, 214, 238);
}